body {
  font-family: "Montserrat";
  font-weight: 400;
  text-align: center;
}



h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat';
  font-weight: bold;

}


/* Heading Section  */

.big-heading {
  font-size: 3rem;
  line-height: 1.5;
}

.heading-title {
  font-size: 3.5rem;
  line-height: 1.5;
  font-weight: 900;

}

/* Container */
.container-fluid {
  padding: 7% 15%;
}

.colored-section {
  background-color: #ff4c68;
  color: #fff;

}

.white-section {
  background-color: #fff;
}

/* Navbar */
.navbar {
  padding: 0 0 4.5rem;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-family: "Montserrat";
}

/* Download Button */
.download-button {
  margin: 5% 3% 5% 0;
}

/* Title  Section */
#title {
  text-align: left;
}
#title.container-fluid {
  padding: 3% 15% 7%;
}

  /* Navegation Bar */
.navbar-brand {
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
}

/* Title Image */
.image-title {
  width: 60%;
  transform: rotate(25deg);
  position: absolute;
  right: 30%

}

p {
  color: #8f8f8f;
}

/* Features Section */
#features {
  background-color: #fff;
  position: relative;
}
.feature-title {
  font-size: 1.5rem;
}

.feature-box  {
  padding: 5%
}

.fas {
  color: #ef8172;
  margin: 1rem;
}

.fas:hover {
  color: #ff4c68;
}

/* Testimonials Section */
#testimonials {
  background-color: #ef8172;
}

.testimonial-text {
  font-size: 3rem;
  line-height: 1.5;
}

.carousel-item {
  padding: 7% 15%
}

.testimonials-images {
  width: 10%;
  border-radius: 100%;
  margin: 2px;
}

#press {
  background-color: #ef8172;
  padding-bottom: 3%;
}
.press-logo {
  width: 15%;
  margin: 10px 20px 50px;
}

 /* Pricing Section */
#pricing {
  padding: 100px;
}

.pricing-text {
  font-size: 3rem;
  line-height: 1.5;
}

.pricingcard-column {
  padding: 3% 2%;
}


/* Call of Action  */


/* Footer Section */
#footer {
  margin: 5% 7%;
}

.footer-icon {
  color: black;
  margin: 2% 1%;
}

.footer-icon:hover {
  color: black;
}


@media (max-width: 1028px) {

  #title {
    text-align: center;
  }

  .image-title {
    transform: rotate(0);
    position: static;
  }

}
